<%- include("partials/header", { title }) %>
<section>
  <h1>Login</h1>

  <form action="/login" method="POST" class="form-card">
    <div class="form-group">
      <label for="email">Email</label>
      <input id="email" name="email" type="email" required maxlength="100" />
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" name="password" type="password" required />
    </div>

    <button type="submit" class="cta">Login</button>
  </form>
</section>
<%- include("partials/footer") %>